<div>
    <form class="row">
        <div class="col-md-4 user-input">
            <div class="form-group">
                <input type="text" name="name" ng-model="name" placeholder="name">

            </div>
            <div class="form-group">
                <input type="text" name="jobTitle" ng-model="jobTitle" placeholder="job title" required>

            </div>
            <div class="form-group">
                <input type="text" name="email" ng-model="email" placeholder="email address"
                       required>

            </div>
        </div>
        <div class="col-md-4 user-input">
            <div class="form-group">
                <input type="text" name="physicalAddress" ng-model="physicalAddress" placeholder="mailing address"
                       required>

            </div>
            <div class="form-group">
                <input type="number" name="phoneNumber" ng-model="phoneNumber" placeholder="phone number"
                       required>

            </div>
            <div class="form-group">
                <input type="number" name="age" ng-model="age"
                       placeholder="age" required>
            </div>
        </div>
    </form>
</div>